@import url(http://fonts.googleapis.com/css?family=Montserrat);
/* line 4, ../sass/components/_menu.sass */
nav.navbar-collapse {
  background: #f9e829;
  width: 100%;
  height: 40px;
}

/* line 8, ../sass/components/_menu.sass */
.navbar-default {
  background: transparent;
  border: none;
}
/* line 11, ../sass/components/_menu.sass */
.navbar-default nav {
  float: left;
}

/* line 14, ../sass/components/_menu.sass */
.navbar-default .navbar-nav {
  height: 40px;
  background: #f9e829;
}
/* line 20, ../sass/components/_menu.sass */
.navbar-default .navbar-nav li {
  margin-right: 35px;
}
/* line 22, ../sass/components/_menu.sass */
.navbar-default .navbar-nav li a {
  color: black;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: normal !important;
  font-size: 1.2em;
  padding: 10px 0 0 23px;
}
/* line 29, ../sass/components/_menu.sass */
.navbar-default .navbar-nav li .active {
  background: #f9e829;
}
/* line 31, ../sass/components/_menu.sass */
.navbar-default .navbar-nav li .active a {
  color: black;
}
/* line 34, ../sass/components/_menu.sass */
.navbar-default .navbar-nav li .active a:focus {
  background: #f9e829;
}
/* line 37, ../sass/components/_menu.sass */
.navbar-default .navbar-nav li.li-136 {
  background: transparent url(../images-source/home_dwn.png) no-repeat left center;
}
/* line 39, ../sass/components/_menu.sass */
.navbar-default .navbar-nav li.li-136:hover {
  background: transparent url(../images-source/home_up.png) no-repeat left center;
}
/* line 41, ../sass/components/_menu.sass */
.navbar-default .navbar-nav li.li-1200 {
  background: transparent url(../images-source/app_dwn.png) no-repeat left center;
}
/* line 43, ../sass/components/_menu.sass */
.navbar-default .navbar-nav li.li-1200:hover {
  background: transparent url(../images-source/app_up.png) no-repeat left center;
}
/* line 45, ../sass/components/_menu.sass */
.navbar-default .navbar-nav li.li-138 {
  background: transparent url(../images-source/org_dwn.png) no-repeat left center;
}
/* line 47, ../sass/components/_menu.sass */
.navbar-default .navbar-nav li.li-138:hover {
  background: transparent url(../images-source/org_up.png) no-repeat left center;
}
/* line 49, ../sass/components/_menu.sass */
.navbar-default .navbar-nav li.li-1211 {
  background: transparent url(../images-source/blog_dwn.png) no-repeat left center;
}
/* line 51, ../sass/components/_menu.sass */
.navbar-default .navbar-nav li.li-1211:hover {
  background: transparent url(../images-source/blog_up.png) no-repeat left center;
}
/* line 53, ../sass/components/_menu.sass */
.navbar-default .navbar-nav li.li-1434 {
  background: transparent url(../images-source/about_dwn.png) no-repeat left center;
}
/* line 55, ../sass/components/_menu.sass */
.navbar-default .navbar-nav li.li-1434:hover {
  background: transparent url(../images-source/about_up.png) no-repeat left center;
}
/* line 57, ../sass/components/_menu.sass */
.navbar-default .navbar-nav li.li-1145 {
  background: transparent url(../images-source/sign_up.png) no-repeat left center;
}
/* line 59, ../sass/components/_menu.sass */
.navbar-default .navbar-nav li.li-1145:hover {
  background: transparent url(../images-source/sign_dwn.png) no-repeat left center;
}

/* line 4, ../sass/components/_search.sass */
#block-search-form {
  float: right;
  padding: 0 0 0 0;
}
/* line 6, ../sass/components/_search.sass */
#block-search-form .form-control {
  display: inline-block;
}
/* line 8, ../sass/components/_search.sass */
#block-search-form .form-submit {
  margin-top: 0em;
  background: transparent url(../images-source/Search_Yellow.png) no-repeat left top;
  text-indent: -9999px;
  margin-top: 20px;
  padding-right: 20px;
  margin-right: 0px;
  font-size: 200%;
  border: none;
}
/* line 18, ../sass/components/_search.sass */
#block-search-form .form-submit:hover {
  background: transparent url(../images-source/Search_Green.png) no-repeat left top;
}
/* line 21, ../sass/components/_search.sass */
#block-search-form .form-item input.form-text, #block-search-form .form-item textarea {
  border: none;
  background: #dbdbdb;
}
/* line 25, ../sass/components/_search.sass */
#block-search-form .compact-form-label {
  font-weight: normal;
  top: 6px;
}

/* line 3, ../sass/components/_footer.sass */
#block-views-opencivic-sponsor-block h2 {
  height: 35px;
  padding: 10px 0 0 10px;
  margin: 0 0 1em 0;
  font-size: 1.1em;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background-color: #dbdbdb;
}

/* line 2, ../sass/components/_grid.sass */
.oc-grid {
  display: block;
  margin-bottom: 40px;
}
/* line 5, ../sass/components/_grid.sass */
.oc-grid .views-row {
  width: 33%;
  display: inline-block;
  border: 1px solid black;
}
