
#block-views-opencivic-sponsor-block
  h2
    height: 35px
    padding: 10px 0 0 10px
    margin: 0 0 1em 0
    font-size: 1.1em
    font-family: "Montserrat",Arial,Helvetica,sans-serif
    background-color: #dbdbdb
