
.view-opencivic-application-facet-search
  display: block
  margin-bottom: 40px
  .views-row
    width: 32%
    display: inline-block
    vertical-align: top
    border: 1px solid #C8C8C8
    padding: 5px
    margin: 0 5px 10px 0px
    // Rounded corners
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px

    .views-field-title
      font-size: 1.2em


.view-application-list
  .views-row
    margin-bottom: 20px
  .views-field-field-oc-logo
    display: inline-block
    margin-right: 10px
    vertical-align: top
  .group
    display: inline-block
    width: 80%


.view-story
  .views-field-title
    font-size: 1.5em
