
$nav-height: 40px

nav.navbar-collapse
  background: $color-yellow
  width: 100%
  height: $nav-height
.navbar-default
  background: transparent
  border: none
  nav
    float: left

.navbar-default .navbar-nav
  height: $nav-height
  // width: 150px
  // line-height: 40px
  //TODO
  background: $color-yellow
  // nav#block-menu-block-1 ul.menu
  li
    // width: 150px
    // margin-left: 50px
    margin-right: 35px
    a
      color: #000
      font-family: $heading-font
      font-weight: normal !important
      // text-transform: uppercase;
      font-size: 1.2em
      padding: 10px 0px 0 23px
      height: $nav-height
    .active
      background: transparent
      a
        color: #000
      // a:hover,
      &:focus
        // background: $color-yellow
      &:hover
        background: $color-yellow

  li.li-138, li.li-138:active
    background: transparent url(../images-source/home_dwn.png) no-repeat left center
  li.li-138:hover
    background: transparent url(../images-source/home_up.png) no-repeat left center
  li.li-1208
    background: transparent url(../images-source/app_dwn.png) no-repeat left center
  li.li-1208:hover
    background: transparent url(../images-source/app_up.png) no-repeat left center
  li.li-140
    background: transparent url(../images-source/org_dwn.png) no-repeat left center
  li.li-140:hover
    background: transparent url(../images-source/org_up.png) no-repeat left center
  li.li-1219
    background: transparent url(../images-source/blog_dwn.png) no-repeat left center
  li.li-1219:hover
    background: transparent url(../images-source/blog_up.png) no-repeat left center
  li.li-1434
    background: transparent url(../images-source/about_dwn.png) no-repeat left center
  li.li-1434:hover
    background: transparent url(../images-source/about_up.png) no-repeat left center
  li.li-1145
    background: transparent url(../images-source/sign_up.png) no-repeat left center
  li.li-1145:hover
    background: transparent url(../images-source/sign_dwn.png) no-repeat left center

      // @include box-shadow(#900 0 0 10px inset);
  // #block-system-main-menu
  //   margin: 0
  //   float: left
  // #block-menu-menu-social-links
  //   float: right
  //   margin: 0

#secondary-menu-links
  float: right

