

// #views-exposed-form-search-page .views-exposed-form .views-exposed-widget
#block-search-form
  float: right
  .form-control
    display: inline-block
  .form-submit
    margin-top: 0em
    background: transparent url(../images-source/Search_Yellow.png) no-repeat left top
    text-indent: -9999px
    margin-top: 20px
    padding-right: 20px
    margin-right: 0px
    font-size: 200%
    border: none

  .form-submit:hover
    background: transparent url(../images-source/Search_Green.png) no-repeat left top

  .form-item input.form-text, .form-item textarea
    border: none
    background: #dbdbdb

  .compact-form-label
    font-weight: normal
    top: 6px

  padding: 0 0 0 0

