
.pane-service-links
  padding-bottom: 15px
  h2
    font-size: 20px
  ul
    // padding: 0
    list-style-type: none
    li
      // padding: 0
      margin: 0 5px 0 0
      display: inline-block

.front
  .panel-pane
    .pane-title
      color: #000
      background-color: $color-yellow
      padding: 3px 0 3px 5px

